# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- Julia
- Java
- Scala
- JavaScript

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

| Data Science Tools|
| ----------- |
| Visual Studio Code      |
| Jupyter Notebook   |
| Spyder  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Charles Jeyaseelan